@model RestaurantWebApp.Models.IndexViewModel
@{
    ViewData["Title"] = "Home Page";
 }

<script>
    var startId = 00;
    var endId = 99;
</script>


<div style="padding-bottom: 70vh; background-color: transparent;">
    <div style="height: 150px; width: 100%;"></div>
    <h1 style="font-size: 40pt;">Welcome to SpiceHub!</h1>
    <h2 style="font-size: 20pt; font-style: italic;">Spicy food made to go.</h2>
    <div style="height: 50px; width: 100%;"></div>
    <img src="~/images/logo.webp" />
</div>




