@{
    ViewData["Title"] = "Menu";
}

<h1>@ViewData["Title"]</h1>

<html>
<head>
    <link rel="stylesheet" href="~/css/menuCSSFile.css">
</head>
<body>
    <div class="content">
        <h2>Appetizers</h2>
        <ul class="menu-section">
            <li>
                <h3>Appetizer 1</h3>
                <p>Description of Appetizer 1</p>
                <p>Price: $10.99</p>
                <a href="appetizer1.html">Learn More</a>
            </li>
            <li>
                <h3>Appetizer 2</h3>
                <p>Description of Appetizer 2</p>
                <p>Price: $8.99</p>
                <a href="appetizer2.html">Learn More</a>
            </li>
            <li>
                <h3>Appetizer 3</h3>
                <p>Description of Appetizer 3</p>
                <p>Price: $9.99</p>
                <a href="appetizer2.html">Learn More</a>
            </li>

            <li>
                <h3>Appetizer 4</h3>
                <p>Description of Appetizer 4</p>
                <p>Price: $13.99</p>
                <a href="appetizer1.html">Learn More</a>
            </li>
            <li>
                <h3>Appetizer 5</h3>
                <p>Description of Appetizer 5</p>
                <p>Price: $9.99</p>
                <a href="appetizer2.html">Learn More</a>
            </li>
            <li>
                <h3>Appetizer 6</h3>
                <p>Description of Appetizer 6</p>
                <p>Price: $12.99</p>
                <a href="appetizer2.html">Learn More</a>
            </li>

        </ul>

        <h2>Main Course</h2>
        <ul class="menu-section">
            <li>
                <h3>Main Dish 1</h3>
                <p>Description of Main Dish 1</p>
                <p>Price: $15.99</p>
                <a href="maindish1.html">Learn More</a>
            </li>
            <li>
                <h3>Main Dish 2</h3>
                <p>Description of Main Dish 2</p>
                <p>Price: $11.99</p>
                <a href="maindish2.html">Learn More</a>
            </li>
            <li>
                <h3>Main Dish 3</h3>
                <p>Description of Main Dish 3</p>
                <p>Price: $12.99</p>
                <a href="maindish2.html">Learn More</a>
            </li>


            <li>
                <h3>Main Dish 4</h3>
                <p>Description of Main Dish 4</p>
                <p>Price: $18.99</p>
                <a href="maindish2.html">Learn More</a>
            </li>
            <li>
                <h3>Main Dish 5</h3>
                <p>Description of Main Dish 5</p>
                <p>Price: $15.99</p>
                <a href="maindish2.html">Learn More</a>
            </li>
            <li>
                <h3>Main Dish 6</h3>
                <p>Description of Main Dish 6</p>
                <p>Price: $10.99</p>
                <a href="maindish2.html">Learn More</a>
            </li>

            <li>
                <h3>Main Dish 7</h3>
                <p>Description of Main Dish 7</p>
                <p>Price: $19.99</p>
                <a href="maindish2.html">Learn More</a>
            </li>
            <li>
                <h3>Main Dish 8</h3>
                <p>Description of Main Dish 8</p>
                <p>Price: $17.99</p>
                <a href="maindish2.html">Learn More</a>
            </li>
            <li>
                <h3>Main Dish 9</h3>
                <p>Description of Main Dish 9</p>
                <p>Price: $16.99</p>
                <a href="maindish2.html">Learn More</a>
            </li>



        </ul>

        <h2>Beverages</h2>
        <ul class="menu-section">
            <li>
                <h3>Beverage 1</h3>
                <p>Description of Beverage 1</p>
                <p>Price: $2.99</p>
                <a href="beverage1.html">Learn More</a>
            </li>
            <li>
                <h3>Beverage 2</h3>
                <p>Description of Beverage 2</p>
                <p>Price: $1.99</p>
                <a href="beverage2.html">Learn More</a>
            </li>
            <li>
                <h3>Beverage 3</h3>
                <p>Description of Beverage 3</p>
                <p>Price: $5.99</p>
                <a href="beverage2.html">Learn More</a>
            </li>

            <li>
                <h3>Beverage 4</h3>
                <p>Description of Beverage 4</p>
                <p>Price: $5.99</p>
                <a href="beverage1.html">Learn More</a>
            </li>
            <li>
                <h3>Beverage 5</h3>
                <p>Description of Beverage 5</p>
                <p>Price: $6.99</p>
                <a href="beverage2.html">Learn More</a>
            </li>
            <li>
                <h3>Beverage 6</h3>
                <p>Description of Beverage 6</p>
                <p>Price: $4.99</p>
                <a href="beverage2.html">Learn More</a>
            </li>
        </ul>

        <h2>Desserts</h2>
        <ul class="menu-section">
            <li>
                <h3>Dessert 1</h3>
                <p>Description of Dessert 1</p>
                <p>Price: $7.99</p>
                <a href="dessert1.html">Learn More</a>
            </li>
            <li>
                <h3>Dessert 2</h3>
                <p>Description of Dessert 2</p>
                <p>Price: $5.99</p>
                <a href="dessert2.html">Learn More</a>
            </li>
            <li>
                <h3>Dessert 3</h3>
                <p>Description of Dessert 3</p>
                <p>Price: $6.99</p>
                <a href="dessert2.html">Learn More</a>
            </li>

            <li>
                <h3>Dessert 4</h3>
                <p>Description of Dessert 4</p>
                <p>Price: $9.99</p>
                <a href="dessert2.html">Learn More</a>
            </li>
            <li>
                <h3>Dessert 5</h3>
                <p>Description of Dessert 5</p>
                <p>Price: $3.99</p>
                <a href="dessert2.html">Learn More</a>
            </li>
            <li>
                <h3>Dessert 6</h3>
                <p>Description of Dessert 6</p>
                <p>Price: $8.99</p>
                <a href="dessert2.html">Learn More</a>
            </li>

        </ul>

    </div>
</body>
</html>
