@{
    ViewData["Title"] = "Privacy Policy";
}



<div style="height: 100px; width: 100%;"></div>
<h1>@ViewData["Title"]</h1>
<p>Sorry for the inconvinence we are under maintainance.</p>

<div style="height: 1200px; width: 100%;"></div>
